body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    position: absolute;
    top: 90px;
    left: 20px;
    bottom: 10px;
    right: 0;
    padding: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}
a{
    text-decoration: none !important;
}

body {
    height: 82%;
}

::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #ffffff;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ff9900;
}
.col-md-offset-2{
    width: 100% !important;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

html {
    overflow: auto;
    scroll-behavior: smooth;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 10px 0;
    z-index: 999;
}

header p {
    color: #ffffff;
    font-size: 24px;
    opacity: 0.7;
}

header .icons {
    color: #ffffff;
    margin: 0 23px;
}

.menu {
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 200;
}

#check {
    display: none;
}



.button {
    width: 48px;
    height: 48px;
    background: rgb(255, 196, 0);
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-in;
    padding-top: 8px;
    line-height: 8px;
    text-align: left;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 201;
}

.button:hover {
    background: #000000;
    color: #fff;
}

.button span {
    height: 3px;
    width: 100%;
    background: white;
    display: inline-block;
    transition: all 0.5s cubic-bezier(.62, .43, .35, 1.47);
}

#check:checked~nav a {
    padding: 3px;
    opacity: 1;
    transform: scale(1);
    width: 150px;
}

.button {
    width: 48px;
    height: 48px;
    background: rgb(0 0 0);
    padding: 12px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-in;
    padding-top: 8px;
    line-height: 8px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 201;
    text-align: center;
}

#check:checked~nav a {
    padding: 10px;
    opacity: 1;
    transform: scale(1);
    width: 118px;
}

#check:checked~.button span:nth-child(1) {
    width: 100%;
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

#check:checked~.button span:nth-child(2) {
    width: 0;
}

#check:checked~.button span:nth-child(3) {
    width: 100%;
    transform: rotate(-45deg) translateY(-7px) translateX(7px);
}

nav {
    text-align: center;
    overflow: hidden;
    transition: all 0.4s ease;
    position: absolute;
    top: 70px;
    left: 0;
    width: 118px;
    background: transparent;
    height: 0;
}

nav a {
    text-decoration: none;
    color: #000000;
    display: block;
    font-size: 18px;
    transition: all 0.4s cubic-bezier(.22, .43, .35, 1.5);
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    text-align: center;
    background-color: #ffffff;
    padding: -2px 5px;
    border-radius: 50px;
    margin: 2px 0;
    display: inline-block;
    padding: 0;
}

nav a:hover {
    color: #ffffff;
    background-color: #f8c900;
}

#check:checked~nav {
    height: 500px;
}

#check:checked~nav a {
    padding: 10px;
    opacity: 1;
    transform: scale(1);
}

.form {
    padding-top: 67px;
    text-align: center;
}

.form select {
    margin: 20px 12px;
    color: #fff;
    background-color: transparent;
    padding: -2px;
    border: none;
    width: 129px;
}

.form option {
    background-color: #ffffff;
    color: #000000;
}

.form option:hover {
    color: #ffd000 !important;
}

.search {
    text-align: center;
}

.search input {
    width: 476px;
    border-radius: 3px;
}

.search hr {

    border-radius: 3px;
    color: #fff !important;
    height: 3px;
}

.content h2 {
    color: #f8c900;
    font-size: 35px;
}

.content h6 {
    color: #969696;
    font-size: 15px;
    margin: 28px;
}

.content p {
    display: inline;
    padding: 3px 20px;
    color: #fff;
    border: 1px solid#fff;
    opacity: 0.7;
    border-radius: 5px;
    margin: 13px;
}

.content .active {
    color: #fff;
    background-color: #f8c900;
}

.content h5 {
    color: #fff;
    opacity: 0.7;
    margin: 25px 0;
}

.content a {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px 0;
    margin: -1px 0;
    display: block;
    text-align: center;
}

.content h6 {
    color: #969696;
    font-size: 15px;
    margin: 28px;
}

.movie select {
    border: 2px solid #000;
    background-color: #000000;
    color: #ffffff;
}

.form select {
    margin: 20px 12px;
    color: #fff;
    background-color: transparent;
    padding: -2px;
    border: none;
}

.form select option {
    display: inline;
}

.return {
    justify-content: space-between;
}

.return h4 {
    display: inline;
    font-size: 12px;
    color: #fff;
    margin: 0;
    padding: 0;
    opacity: 0.7;
}

.return p {
    font-size: 10px;
    color: #fff;
    margin: 0;
    padding: 0;
    opacity: 0.7;
}

.icons {
    text-align: end;
}



/*home page start here*/
.banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    padding: 30px 0;
}

img.banner-img {
    padding: 100px 0 25px 0;
}
.poster p{
    color:#fff;
    font-size: 15px;
    font-weight: normal;
}
.poster h6{
    color:#fff;
    font-size: 15px;
    font-weight: normal;
}
.poster span{
    color:#ff8800;
    font-size: 15px;
    font-weight: 500;
}
.poster a{
    color:#ffffff;
    font-size: 13px;
    font-weight: 400;
    background-color: #240646;
    padding:2px  10px;
    border-radius: 50px;
}


.slider{
    display: flex;
}

  .canvas{
    text-align: center;
    margin: 20px 0;
  }
  .canvas p{
    font-size: 17px;
    color: #7a7481;
  }
  .canvas h4{
    font-size: 25px;
    color: #ffffff;
  }
  .canvas h2{
    font-size: 25px;
    color: #ffffff;
  }
  .line{
    text-align: center;
    margin: 30px 0;
  }
  .line h2{
    font-size: 35px;
    color: #ffffff;
    font-weight: 500;
  }
.pagination {
    padding: 20px 0;
    text-align: left;
}

.pagination a {
    color: rgb(255, 255, 255);
    float: left;
    padding: 3px 11px;
    text-decoration: none;
    margin: 0 12px;
}

.pagination a.active {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 50px;
}
.sec-nav {
    text-align: center;
}
.sec-nav a {
    color: #fff;
    padding: 0 20px;
}
p.white {
    color: #fff;
    font-size: 15px;
}
.top h4 {
    color: #fff;
    font-weight: 700;
}
footer {
    padding: 50px 0;
}

footer p {
    color: #fff;
    font-size: 15px;
}

footer h2 {
    color: #fff;
    font-size: 40px;
}

footer a {
    color: #fff;
    font-size: 15px;
}

.top-heading {
    color: #fff;
    font-size: 31px;
    font-weight: 600;
    text-align: left;
}
.top-heading a {
    color: #f8c900;
    font-size: 15px;
    font-weight: 400;
}


@media only screen and (max-width:1199px) {
    .form {
        padding-top: 0px;
        text-align: center;
    }
}

@media (min-width:1500px) {
    .navbar-expand-xxl {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}
@media only screen and (max-width:767px) {
    .slider__wrapper {
        display: block;
        text-align: -webkit-center;
        text-align: -moz-center;
    }
    .slider__item {
        flex: 0 0 25%;
        max-width: 46%;
    }
    .top-heading{
        text-align: center;
        font-size: 25px;
    }
    .poster{
        text-align: center;
        margin: 50px 0 50px  40px;
        display:block;
    }
    .poster a{
       font-size: 12px;
    }
}

@media only screen and (max-width:767px) {
    img.banner-img {
        width: 386px;
        margin-top: 100px;
    }

    .form {
        padding-top: 200px;
        text-align: center;
    }

    .form select {
        margin: 20px 2px;
        color: #fff;
        background-color: transparent;
        padding: -2px;
        border: none;
    }
}

@media only screen and (max-width:380px) {
    .banner-img {
        width: 386px;
        margin-top: 150px;
    }
}

@media only screen and (max-width:370px) {
    .form {
        padding-top: 250px;
        text-align: center;
    }
}

@media only screen and (max-width:349px) {
 .banner-img {
        width: 386px;
        margin-top: 200px;
    }

    .form {
        padding-top: 280px;
        text-align: center;
    }
}

@media only screen and (max-width:575px) {
    .top {
        text-align: center;
    }

    footer {
        text-align: center;
        width: 100%;
    }

    .search input {
        width: 200px;
        text-align: center;
    }

    .menu {
        text-align: center;
        width: 100%;
    }

    .nav {
        text-align: center;
        width: 100%;
    }

    .flage {
        text-align: center;
        width: 100%;
    }

    .button {
        text-align: center;

    }
}

@media only screen and (max-width:329px) {
    .form {
        padding-top: 320px;
        text-align: center;
    }
}

/*collection page*/
@media only screen and (max-width:439px) {
    header p {
        font-size: 14px;
    }
    .pagination {
        padding: 0;
        text-align: center;
    }

    .pagination a {
        color: rgb(255, 255, 255);
        float: none;
        padding: 3px 0px;
        text-decoration: none;
        margin: 0 12px;
    }
}
